/* Connect.css */
.main-name-div-heading {
  text-align: center; /* Center-align the text */
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 10px; /* Add some padding around the text */
}

.main-name-div-heading h1 {
  font-size: 24px;
}
.main-name-div-heading h1 b {
  color: #207bdd;
}

.connect-container {
  width: 100%; /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.connect-heading {
  text-align: center;
  margin-bottom: 20px;
}

.connect-heading h1 {
  font-size: 28px;
}

.connect-form-container {
  display: flex;
  margin: 2%;
  justify-content: space-between; /* Distribute space evenly between the two forms */
}

.connect-form {
  display: flex;
  align-items: center;
}

.connect-form h3 {
  font-size: 18px;
  margin-right: 20px;
}

.connect-form input[type="text"],
.connect-form input[type="file"] {
  flex: 1; /* Make both inputs take equal space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.connect-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-form button:hover {
  background-color: #087008;
}

.lawyer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lawyer-card {
  width: 46%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex; /* Display content in a row */
  flex-direction: column;
}

.lawyer-card img {
  max-width: 40%;
  height: auto;
}

.lawyer-details {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.lawyer-details h2 {
  font-size: 18px;
  margin: 0;
  margin-left: 10px; /* Add margin between image and name */
}

.star-rating {
  font-size: 14px; /* Adjust the font size as needed */
  color: #fbc02d; /* Yellow color for stars */
  margin-left: 20px;
}

.star {
  display: inline-block;
}

.full-star::before {
  content: "\2605"; /* Unicode character for a solid star */
}

.empty-star::before {
  content: "\2606"; /* Unicode character for an empty star */
}

.lawyer-card p {
  font-size: 16px;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px; /* Maximum height for the bio */
}

.connected-button {
  background-color: lightblue; /* Light blue color for the connected state */
  color: #000000;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.connected-button:hover {
  background-color: #66b3cc; /* Light blue color for the connected state on hover */
}

/* Add this CSS for the default "Connect" button state */
.connect-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.connect-button:hover {
  background-color: #0056b3;
}

.load-more-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.load-more-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-button button:hover {
  background-color: #0056b3;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .lawyer-card {
    width: calc(50% - 20px); /* 2 cards in a row with spacing */
  }
}
